setuptools
aioredis
asgiref
astroid
async-timeout
attrs
autobahn
Automat
certifi
channels
channels-redis
chardet
constantly
daphne
defusedxml
Django
django-cors-headers
django-rest-auth
django-rest-framework
djangorestframework
gunicorn
hiredis
hyperlink
idna
incremental
isort
lazy-object-proxy
mccabe
msgpack
oauthlib
psycopg2-binary
PyHamcrest
pylint
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
Twisted
txaio
typed-ast
urllib3
whitenoise
wrapt
zope.interface